

.container {
  text-align: center;
  display: inline-grid;
  gap : 10px;
  padding: 5px;
  grid-template-columns: 1fr 3fr;
  margin:4%;
  font-family: sans-serif;
  min-height: 80vh;
  align-content: space-between;
  border-style: solid;
  border-radius:5px;

}

ul{
  list-style-type: none;

}

.left-header {
  background-color: #293c64;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}
.left-display{
  text-align:right;
}
.project{
  margin-bottom: 8px;
}
.project.selected{
  background-color:pink;
}

.edit{
  flex-direction:column;
  align-items:center;
  max-width:100%;
}
textarea{
  overflow: auto; 
  word-wrap: break-word; 
  font-family:Courier, monospace;
	font-weight:normal;
  font-size:16px;
  resize:none;
  width:80%;
	padding-bottom:34px;

}
:disabled{
  background: none;
  border-width : 0px;
}
.title{
  font-size: 2.5em;
  font-weight: bolder;
  color:black;
  text-align : center;
  
  max-width: 100%;
  margin-bottom: 20px;
}
button {
  background-color: whitesmoke;
  border-style: solid;
  color: black;
  padding: 2px 2px;
  margin-left: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}
.todobutton{
  border-radius:8px;
  background-color: rgb(190, 220, 255);
  padding: 4px 4px;
  border-width :0; 
}

