
.container {
  text-align: center;
  display: grid;
  gap : 10px;
  grid-template-columns: 1fr 2fr;
}


.left-header {
  background-color: #282c34;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.edit{
  display:flex;
  flex-direction:column;
  align-items:center;
  max-width:100%;
}
textarea{
  overflow: auto; 
  word-wrap: break-word; 
  font-family:Courier, monospace;
	font-weight:normal;
  font-size:16px;
  resize:none;
  width:80%;
	padding-bottom:34px;

}
:disabled{
  background: none;
  border-width : 0px;
}
.title{
  font-size: 2.5em;
  text-align : center;
  max-width: 100%;
  margin-bottom: 20px;
}


